/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/package-lock.json
/package.json
/.lein-*
/.nrepl-port
.hgignore
.hg/
/.idea/
/name-bazaar.iml
/name-bazaar-1.iml
node_modules/
/test-fig-compiled/
/resources/public/js/compiled/
/figwheel_server.log
/resources/public/contracts/build/
/dev-backend/
/dev-server/
/server/
/dev-tests/
/server-tests/
/src/name_bazaar/server/repl.cljs
/resources/public/css/name-bazaar.main.css.map
/npm-debug.log
/resources/public/css/
/resources/semantic/dist/
/config.edn
/config-beta.edn
/.node-xmlhttprequest-sync-*
/cypress/screenshots
/cypress/videos
.gradle
/resources/public/contracts-build
