[submodule "resources/public/contracts/src/ens-repo"]
	path = resources/public/contracts/src/ens-repo
	url = https://github.com/ensdomains/ens.git
[submodule "resources/public/contracts/src/strings-lib-repo"]
	path = resources/public/contracts/src/strings-lib-repo
	url = git@github.com:Arachnid/solidity-stringutils.git
