/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
package-lock.json
/.lein-*
/.nrepl-port
.hgignore
package-lock.json
start_server.sh
.hg/
/.idea/
/name-bazaar.iml
/name-bazaar-1.iml
/node_modules/
/test-fig-compiled/
/resources/public/js/compiled/
/figwheel_server.log
/resources/public/contracts/build/*.bin
/dev-backend/
/dev-server/
/server/
/dev-tests/
/browser-tests/
/src/name_bazaar/server/repl.cljs
/resources/public/css/name-bazaar.main.css.map
start_server.sh