language: clojure
script: echo "JUST DEPLOYING MAINTAINENCE PAGE HERE" #lein doo node "server-tests" once
notifications:
  email:
  recipients:
    - juan@district0x.io
    - daniel@district0x.io
  slack:
    on_success: always
    on_failure: always
    rooms:
    - district0x:53vhalUfg0MitsQwzjP5PWdd#travis-ci
before_install:
- npm install -g ganache-cli
- sudo wget --no-check-certificate -P /bin https://github.com/ethereum/solidity/releases/download/v0.4.24/solc-static-linux
- sudo chmod a+x /bin/solc-static-linux
- sudo ln -s /bin/solc-static-linux /usr/bin/solc
before_script:
- lein compile-solidity
- ganache-cli -p 8549 -l 8000000 -d -m district0x > /dev/null &
env:
  global:
  - secure: di/NEVZdvEhKr911mBkHUKqPQI9XHbS7gRQkjPm9m7i2IMKOdxtgn0FjJ4q8H6RQctDmN02Rb991dSf8PPBcwoMTw4CwyfnLEuHKRr8DIdoNuffn9+X5PvgD0svW2bpTFBpmjViy9sSIJmqv1oWf4XXosk4YkEfTv3wOB+JWyKx9UooGypTzfVgz4I8G6SoPpkqNtTLR1ysjBXoKRtDlXxrvfLrXCkq8yQ/orgLzTORupxz2ng15LdNH0xx0Eb3OeW0eKpVxLM4Zqx+/maz7LJMw4ZcKZoXsZv7ClWqxEI2GdEywyPldU6V4O4TPhlkzEhjalTSn5eL3Mlqipj+A0/zy4C0J5rc8YUeC2zVS+mYRmpiZd2gnmQVjsM0dh9WIEBHm5DQDFDHPRlvXK6llgTMt1GXR9TrRXJABzKogxwaeDIQGw/Eoqmgp+FoYs3sYsk+pla0S2OejNTtqTNsMYm04gQ4h3VK3ISZmdDADi4ZAsKVOAhuFA7fe7vGuCqVR5BxeGUK19RkwOFwbyHEoxps+aw8YgYynRUeKFJkWb+ReahA6pmgQRU4HxhQiVnsmWfBRbYSUreWtvZM7h56G0tSOf4Sthi93c/vmUmOh5Zyl1hVGfU6tq7oFcjsKQ18RSxXkg8VHvAM5lazJ7JLq3+uoDIsFZuw80aXkU/CFOAo=
  - secure: NQNQTQrtCUmjJiayJvF73j3QrRX1MgB+Qe/ZsKYaoqrc/B2QaNi1dS5RJhEs66shHaBSgMPnYDY78ddXg7GCj88GbjINuAg33m8LBWMZyx05Qw8M0pbi6OqB5IhBYHqfxpIdKu/jLSpOAf5chEPGCogXdIWpfh+YI2mHQW5BDOtsxDXPWFG71f57O1k9pqLWjDQ7b+eHfZLKNrQtoFmZWZtpYKHE+qU68lC27u+A8/R6SKbBfyQSb6G5jzgGrU+indGgSF+IqbNpAiNkGJ/bfK7gH9SgpSaJblHfvXAc7vg9Dbjukd0CQnMsnj+a3l9K+VzJ+iJIQ13xSIZSCPkcOf43k4RMTQJI9Y7pZYoGA54onBai4SXFkZvc4o+1zztHS0qq9aFBkr/MxKLPUXwPMCCKJI1I/HFmo7UG3VXnQLTmS/8TAyVW8jg3O2JOub+l0t7zAsAdO0caIKLB3kMdkfHV5gimF5HfFuM+RIZqPIna06hNLnMl3R4csH4n41YZCdAboUSps9X6ClsP9v/aLZyx9eINcTxTNROInbQ0TKPLc4/Xt1IDsNPrYf/8Fnus0+saHyD6j2P0rGoUnOmCNjS498c0DUsBY2FxsWR6Q29olG5BLfhiOITylOXCFfDttAojeuRvoTKRQgygJvrlNEnNbc4kVMWersmAN3UTVD8=
services:
  - docker
deploy:
- provider: script
  script: bash docker-push.sh prod
  on:
    branch: production
