{:deps true
 :dev-http {8080 "public"}
 :builds {:dev-server {:target :node-script
                       :main name-bazaar.server.dev/-main
                       :output-to "dev-server/name-bazaar.js",
                       }}}
